<div class="article-meta">
    <h1><span class="title">{{ .Title | markdownify }}</span></h1>
    {{ with .Params.author }}
        <h3 class="author">By: 
            {{ if (reflect.IsSlice .) }}
                {{ delimit . ", " }}
            {{ else }}
                {{ . }}
            {{ end }}
        </h3>
    {{ end }}

    {{ if (gt .Date 0) }}<h4 class="date">Published: {{ .Date.Format "2006/01/02" }}</h4>{{ end }}
    {{ if (gt .Lastmod 0) }}<h4 class="date">Last Modified: {{ .Lastmod.Format "2006/01/02" }}</h4>{{ end }}

    <p>
        {{ if (gt .ReadingTime 0) }}<small>Reading Time: {{ .ReadingTime }} minutes</small>{{ end }}
        &nbsp;|&nbsp;
        {{ if (gt .WordCount 0) }}<small>Word Count: {{ .WordCount }} words</small>{{ end }}
    </p>

    <p class="terms">
        {{ partial "categories_tags.html" . }}
      </p>
    <p class="terms">
      {{ partial "related.html" . }}
    </p>

</div>
    
    <a id="top" />

    {{ if .Params.toc }}
    {{ .TableOfContents }}
    {{ else }}
    {{ end }}