{{ partial "header.html" . }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{ if not .IsHome }}
<ul>

  {{ $pages := .Pages }}
  {{ $paginator := .Paginate (where $pages "Section" "!=" "") }}
  {{ if (eq .Type "posts") }}
    {{ range sort $paginator.Pages ".Title" }}
    <li>
     <span class="date">{{ .Date.Format "2006/01/02" }}</span>
     <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ else }}
    {{ range sort $paginator.Pages }}
    <li>
     <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ end }}

{{ partial "footer.html" . }}
