{{ partial "header.html" . }}

{{ if not .Params.isBranchWithContent }}
{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}
{{ else }}
{{ partial "page_meta.html" .}}
{{ end }}

{{ .Content }}

{{ if not .Params.isBranchWithContent }}
{{ if not .IsHome }}
<ul>
  {{ $pages := .Pages }}
  {{ $paginator := .Paginate (where $pages "Section" "!=" "") }}
  {{ if (eq .Type "posts") }}
    {{ range sort $paginator.Pages ".Date" "desc"}}
    <li>
     <span class="date">{{ .Date.Format "2006/01/02" }}</span>
     <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ else }}
    {{ range sort $paginator.Pages ".Title" }}
    <li>
     <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ end }}
{{ end }}

{{ partial "footer.html" . }}
