{{ partial "header.html" . }}
<a id="top" />
<a id="page_menu" />
<main>
<form action="/search" method="GET">
    <input type="search" name="q" id="search-query" title="Search query" placeholder="Search....">
    <input type="submit" value="Search" title="Search">
</form>

<hr />

<div id="search-results"></div>

<template id="search-result-template"><div class="search_summary">
    <h2 class="post-title no-text-decoration"><a class="search_link search_title" href=""></a></h2>
    <p><em class="search_snippet"></em></p>
    <small>
        <table>
            <tr class="search_iftags"><td><strong>Tags</strong></td><td class="search_tags"></td></tr>
        </table>
    </small>
</div></template>


<script src="{{ "js/fuse.min.js" | absURL }}"></script>
<script src="{{ "js/mark.min.js" | absURL }}"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
</main>

{{ partial "footer.html" . }}
