{{ partial "header.html" . }}

{{ partial "page_meta.html" .}}

<main>
{{ .Content }}

{{ if .Params.changelog }}
<a class="heading" href="#changelog"><h2 id="changelog">Changelog</h2></a>
{{ if .Page.Params.toc }}
<a class="back_to_top" href="#top">Back to ToC</a>
&nbsp;|&nbsp;
{{ else }}
<a class="back_to_top" href="#top">Back to top</a>
&nbsp;|&nbsp;
{{ end }}
<a class="back_to_top" href="#page_menu">Back to page menu</a>
<div class="changelog">
<dl>
{{ range .Params.changelog }}
<dt><strong>{{ .date }}</strong></dt>
<dd>{{ .text }}</dd>
{{ end }}
</dl>
</div>
{{ end }}
</main>

{{ partial "footer.html" . }}
