body {
  font-family: "Atkinson Hyperlegible Next", AtkinsonHyperlegible-Next, AtkinsonHyperlegibleNext, "Atkinson Hyperlegible", Atkinson-Hyperlegible, AtkinsonHyperlegible, "Open Dyslexic", Open-Dyslexic, OpenDyslexic, sans-serif;
}
code, pre, tt, kbd, samp {
  font-family: "Atkinson Hyperlegible Mono", AtkinsonHyperlegibe-Mono, AtkinsonHyperlegibleMono, "DejaVu Sans Mono", DejaVuSansMono, "MonoLisa Variable", "MonoLisa", monospace;
  font-size: 85%;
}
