  <footer>
  <hr/>

  {{ partial "_back_to_top_nav.html" . }}
  &nbsp;|&nbsp;<a class="back_to_top" href="#nav_menu">Back to site menu</a>
  {{ with .Site.Params.footer }}
  <br />{{ replace . "{Year}" now.Year | markdownify}}
  {{ end }}

  </footer>

  {{ if .HasShortcode "figure" }}
    {{ $a11y := resources.Get "js/tobii-a11y-overrides.js" | resources.Minify | resources.Fingerprint }}
    {{ $shim := resources.Get "js/tobii-lazy-shim.js" | resources.Minify | resources.Fingerprint }}
    <script defer src="{{ $a11y.RelPermalink }}" integrity="{{ $a11y.Data.Integrity }}"></script>
    <script defer src="{{ $shim.RelPermalink }}" integrity="{{ $shim.Data.Integrity }}"></script>
  {{ end }}
  </body>
</html>
