  <footer>
  <a class="top-link" href="#top" aria-label="Back to top">↑ Top</a>
  <hr/>

  {{ with .Site.Params.footer }}
  <br />{{ replace . "{Year}" now.Year | markdownify}}
  {{ end }}

  </footer>

  {{ if .HasShortcode "figure" }}
    {{ $a11y := resources.Get "js/tobii-a11y-overrides.js" | resources.Minify | resources.Fingerprint }}
    {{ $shim := resources.Get "js/tobii-lazy-shim.js" | resources.Minify | resources.Fingerprint }}
    <script defer src="{{ $a11y.RelPermalink }}" integrity="{{ $a11y.Data.Integrity }}"></script>
    <script defer src="{{ $shim.RelPermalink }}" integrity="{{ $shim.Data.Integrity }}"></script>
  {{ end }}
  </body>
</html>
