{{- $related := .CurrentSection.RegularPages.Related . -}}
<div class="article-meta">

  <div data-pagefind-ignore>
  {{ partial "_toc_top_link.html" (dict "Page" . "word" "Jump") }}

  {{ with .Params.tags }}
  &nbsp;|&nbsp;<a class="back_to_top" href="#tags">Jump to tags</a>
  {{ end }}

  {{ if .Params.changelog }}
  &nbsp;|&nbsp;<a class="back_to_top" href="#changelog">Jump to Changelog</a>
  {{ end }}
  
  {{ if $related }}
  &nbsp;|&nbsp;<a class="back_to_top" href="#related">Jump to related pages</a>
  {{ end }}
  </div>


  <header>
  <h1><span class="title">{{ .Title | markdownify }}</span></h1>

  <div data-pagefind-ignore>
  {{ with .Params.authors }}
  <p class="author">By:
    {{ range $i, $author := . }}{{ if $i }}, {{ end }}<a href="{{ relURL (print "/authors/" ($author | urlize) "/") }}">{{ $author }}</a>{{ end }}
  </p>
  {{ end }}

  <p>
  {{ if (gt .ReadingTime 0) }}<small>Reading Time: {{ .ReadingTime }} minutes</small>{{ end }}
  &nbsp;|&nbsp;
  {{ if (gt .WordCount 0) }}<small>Word Count: {{ .WordCount }} words</small>{{ end }}
  </p>
  </div>

  {{ if eq .Section "anecdotes" }}
  <div data-pagefind-ignore><p class="anecdote-warning"><span class="title anecdote-meta">WARNING!<br />This page may be triggering, it contains a <em>personal</em> account of living with disability.</span></p></div>
  {{ end }}
  </header>

  <div data-pagefind-ignore>
  {{ if (gt .Date 0) }}<p class="date">Published: <time data-pagefind-meta="date:{{ .Date.Format "2006-01-02" }}" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time></p>{{ end }}
  {{ with .Params.search_terms }}<span data-pagefind-meta="search_terms:{{ delimit . " " }}"></span>{{ end }}
  {{ with (partial "util/changelog-latest.html" .Params.changelog) }}<p class="date">Updated: <time datetime="{{ dateFormat "2006-01-02" . }}">{{ dateFormat "2006/01/02" . }}</time></p>{{ end }}
  </div>

  {{ partial "categories_tags.html" . }}
  {{ partial "related.html" (dict "Page" . "related" $related) }}

</div>

<div id="toc" data-pagefind-ignore>
{{ if .Params.toc }}
<h2>Table of Contents</h2>
{{ replace .TableOfContents `<nav id="TableOfContents">` `<nav id="TableOfContents" aria-label="Table of contents">` | safeHTML }}
{{ end }}
</div>
