<div class="article-meta">

  <a id="page_menu"></a>

  {{ if eq .Section "anecdotes" }}
  <div data-pagefind-ignore><h4><span class="title anecdote-meta">WARNING!<br />This page may be triggering, it contains a <em>personal</em> account of living with disability.</span></h4></div>
  {{ end }}

  <div data-pagefind-ignore>
  {{ partial "_toc_top_link.html" (dict "Page" .Page "word" "Jump") }}

  {{ with .Params.tags }}
  &nbsp;|&nbsp;<a class="back_to_top" href="#tags">Jump to tags</a>
  {{ end }}

  {{ if .Params.changelog }}
  &nbsp;|&nbsp;<a class="back_to_top" href="#changelog">Jump to Changelog</a>
  {{ end }}
  
  {{ partial "_has_related.html" . }}
  {{ if $.Scratch.Get "has_related" }}
  &nbsp;|&nbsp;<a class="back_to_top" href="#related">Jump to related pages</a>
  {{ end }}
  </div>


  <h1><span class="title">{{ .Title | markdownify }}</span></h1>

  <div data-pagefind-ignore>
  {{ with .Params.authors }}
  <h3 class="author">By: 
    {{ if (reflect.IsSlice .) }}
        {{ $author_links := slice }}
        {{ range . }}{{ $author_links = $author_links | append (printf `<a href="/authors/%s/">%s</a>` (. | urlize) .) }}{{ end }}
        {{ delimit $author_links ", " | safeHTML }}
    {{ else }}
        <a href="/authors/{{ . | urlize }}/">{{ . }}</a>
    {{ end }}
  </h3>
  {{ end }}

  <p>
  {{ if (gt .ReadingTime 0) }}<small>Reading Time: {{ .ReadingTime }} minutes</small>{{ end }}
  &nbsp;|&nbsp;
  {{ if (gt .WordCount 0) }}<small>Word Count: {{ .WordCount }} words</small>{{ end }}
  </p>
  </div>

  <div data-pagefind-ignore>
  {{ if (gt .Date 0) }}<h4 class="date">Published: <time data-pagefind-meta="date:{{ .Date.Format "2006-01-02" }}" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006/01/02" }}</time></h4>{{ end }}
  {{ with (partial "util/changelog-latest.html" .Params.changelog) }}<h4 class="date">Updated: <time datetime="{{ dateFormat "2006-01-02" . }}">{{ dateFormat "2006/01/02" . }}</time></h4>{{ end }}
  </div>

  {{ partial "categories_tags.html" . }}
  <p class="terms">
  {{ partial "related.html" . }}
  </p>

</div>
  
<a id="top"></a>

<div data-pagefind-ignore>
{{ if .Params.toc }}
<h2>Table of Contents</h2>
{{ .TableOfContents }}
{{ end }}
</div>
