{{ partial "header.html" . }}

{{ if not .Params.isBranchWithContent }}
<a id="top" />
<a id="page_menu" />
{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}
{{ else }}
{{ partial "page_meta.html" .}}
{{ end }}

{{ .Content }}

{{ if not .Params.isBranchWithContent }}
{{ if not .IsHome }}
<ul>
  {{ $pages := (sort .Pages ".Title") }}
  {{ if (eq .Type "posts") }}
  {{ $pages = (sort .Pages ".Date" "desc") }}
  {{ end }}
  {{ $paginator := .Paginate (where $pages "Section" "!=" "") }}
  {{ if (eq .Type "posts") }}
    {{ range $paginator.Pages }}
    <li>
     <span class="date">{{ .Date.Format "2006/01/02" }}</span>
     <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ else }}
    {{ range $paginator.Pages }}
    <li>
     <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    </li>
    {{ end }}
  {{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
{{ end }}
{{ end }}

{{ partial "footer.html" . }}
