{{ partial "header.html" . }}

<main>
<a id="page_menu"></a>
<h1>{{ .Title | markdownify }}</h1>

{{ .Content }}

<ul>
{{ if eq .Type "news" }}
  {{ $paginator := .Paginate (where (sort .Pages ".Date" "desc") "Section" "!=" "") }}
  {{ range $paginator.Pages }}
  <li><span class="date">{{ .Date.Format "2006/01/02" }}</span> <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
  {{ end }}
{{ else }}
  {{ $paginator := .Paginate (where (sort .Pages ".Title") "Section" "!=" "") }}
  {{ range $paginator.Pages }}
  <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></li>
  {{ end }}
{{ end }}
</ul>
{{ template "_internal/pagination.html" . }}
</main>

{{ partial "footer.html" . }}
